.home h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 45px;
    padding-top: 12rem;
}
.home span{
    color: yellow;
    font-weight: bold;
}
.home p{
    padding-top: 5rem;
    color: aliceblue;
    text-align: center;
}
.home .line-1 {
    height: 4px;
    background: rgb(246, 255, 0);
    margin-top: 9rem;

    width: 100%;
  }
  .home .line-2 {
    background: rgb(246, 255, 0);
    height: 4px;
    width: 100%;
  }
.home .meta h2{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 40x;
    font-size: 9rem;
    font-weight: BOLD;
    text-shadow:
    -1px 0px 0px rgb(242, 255, 0),
    1px 0px 0px rgb(242, 255, 0),
    0px -1px 0px rgb(242, 255, 0),
    0px 1px 0px rgb(242, 255, 0);color: transperent;
    border-color: yellow;
}
.home .container{
    padding-top: 5rem;
    padding-bottom: 5rem;
    
}
