.tt1{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: bold;
    color: #F8F872;
    padding-left: 82rem;
    margin-top: 25rem;
    margin-bottom: 2rem;
}
.tt3{
    font-size: 1.25rem; 
    line-height: 1.75rem;
   
    color: #ffffff;
    padding-left: 82rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
