body {
  margin: 0;
}

main {
  margin: 16px;
}

.navbar {
  display: flex;
  align-items: center;
  
  background: transparent;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 50px;
  font-weight: bold;
  
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}
.buttonsf{
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  align-items: right;
  position: relative;
}
.imglogo{
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-left: 30px;
  align-items: right;
  position: relative;
}
