
#leftbox {
    float:left; 
    background:rgb(0, 0, 0);
    border-width: 0.1rem;
    width:33.33%;
    height:20vw;
}
#middlebox{
    float:left; 
    background:rgb(0, 0, 0);
    border-width: 0.1rem;
    width:33.33%;
    height:20vw;
}
#rightbox{
    float:right;
    background:rgb(0, 0, 0);
    border-width: 0.1rem;
    width:33.33%;
    height:20vw;
}
.boxtext{
    color:rgb(255, 255, 255);
    display: flex;
    padding-top: 5vw;
    padding-bottom: 5vw;
    font-size: 2vw;
    text-align:center;
}
